root = true

[*.{cs,json,xml}]
end_of_line              = lf
charset                  = utf-8-bom
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true

[*.cs]
# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0066: Use switch expression
dotnet_diagnostic.IDE0066.severity = none

# IDE0090: Simplify 'new' expression
dotnet_diagnostic.IDE0090.severity = none

# Member can be made 'readonly'
dotnet_diagnostic.IDE0251.severity = none

# Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1014: Mark assemblies with CLSCompliant
#dotnet_diagnostic.CA1014.severity = none

# CA1008: Enums should have zero value
#dotnet_diagnostic.CA1008.severity = none

# CA1028: Enum Storage should be Int32
dotnet_diagnostic.CA1028.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1069: Enums values should not be duplicated
dotnet_diagnostic.CA1069.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1724: The type name Service conflicts in whole or in part with the namespace name 'Jannesen.Service'. Change either name to eliminate the conflict.
dotnet_diagnostic.CA1724.severity = none

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = none

# CA1838: Avoid 'StringBuilder' parameters for P/Invokes. Consider using a character buffer instead.
dotnet_diagnostic.CA1838.severity = none

# CA2100: Review if the query string passed to 'string SqlCommand.CommandText' in 'DatabaseLoginUser', accepts any user input
dotnet_diagnostic.CA2100.severity = none

# CA2201: Exception type System.Exception is not sufficiently specific
dotnet_diagnostic.CA2201.severity = none

# CA5392: The method LsaNtStatusToWinError didn't use DefaultDllImportSearchPaths attribute for P/Invokes.
dotnet_diagnostic.CA5392.severity = none

# SYSLIB1054
dotnet_diagnostic.SYSLIB1054.severity = none

dotnet_diagnostic.IDE0017.severity = error
dotnet_diagnostic.IDE0029.severity = error
dotnet_diagnostic.IDE0030.severity = error
dotnet_diagnostic.IDE0031.severity = error
dotnet_diagnostic.IDE0044.severity = error
dotnet_diagnostic.IDE0051.severity = error
dotnet_diagnostic.IDE0075.severity = error
dotnet_diagnostic.IDE0083.severity = error
dotnet_diagnostic.IDE0230.severity = error
dotnet_diagnostic.IDE0250.severity = error
dotnet_diagnostic.IDE0270.severity = error
dotnet_diagnostic.IDE0300.severity = error
dotnet_diagnostic.IDE0301.severity = error
dotnet_diagnostic.IDE1005.severity = error

# IDE0007: Use explicit type
dotnet_diagnostic.IDE0007.severity = warning
csharp_style_var_for_built_in_types =  true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

#----------------------------------------
# Workaround WPF en Windows in output.
# <TargetFramework>net80-windows</TargetFramework> also include WPF and WinForm assemblies in output. We are target to window services.
# So use <TargetFramework>net80</TargetFramework> and ignore the warnings.
# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none
